# TELEGRAM BOT
BOT_TOKEN=your_bot_token_here
BOT_USERNAME=your_bot_username_without_at

# MINI APP
MINI_APP_SHORT_NAME=your_mini_app_short_name
MINI_APP_URL=https://your-mini-app-url.vercel.app

# FRONTEND/BACKEND
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# DATABASE
DATABASE_URL=sqlite:///./database.db
